Practica_1/Informe/1_Barido_en_Datos.pdf
Practica_1/Informe/1_Barido_en_Dimension.pdf
Practica_1/Informe/1_Barrido_en_Datos.pdf
Practica_1/Informe/1_Todos.pdf
Practica_1/Informe/1_UnaDimension_1.pdf
Practica_1/Informe/1_UnaDimension_2.pdf
Practica_1/Informe/1_UnaDimension_3.pdf
Practica_1/Informe/1_UnaDimension_4.pdf
Practica_1/Informe/1_UnaDimension_5.pdf
Practica_1/Informe/1_UnaDimension.pdf
Practica_1/Informe/5_lambda_Acc_MNIST.pdf
Practica_1/Informe/5_lambda_Acc_Soft_MNIST.pdf
Practica_1/Informe/5_lambda_Acc_Soft.pdf
Practica_1/Informe/5_lambda_Acc.pdf
Practica_1/Informe/5_lambda_Loss_MNIST.pdf
Practica_1/Informe/5_lambda_Loss_Soft_MNIST.pdf
Practica_1/Informe/5_lambda_Loss_Soft.pdf
Practica_1/Informe/5_lambda_Loss.pdf
Practica_1/Informe/5_Lr_Acc_MNIST.pdf
Practica_1/Informe/5_Lr_Acc_Soft_MNIST.pdf
Practica_1/Informe/5_Lr_Acc_Soft.pdf
Practica_1/Informe/5_Lr_Acc.pdf
Practica_1/Informe/5_Lr_Loss_MNIST.pdf
Practica_1/Informe/5_Lr_Loss_Soft_MNIST.pdf
Practica_1/Informe/5_Lr_Loss_Soft.pdf
Practica_1/Informe/5_Lr_Loss.pdf
Practica_1/Informe/2/1.mp4
Practica_1/Informe/2/2_2_0.pdf
Practica_1/Informe/2/2_2_1.pdf
Practica_1/Informe/2/2_2_2.pdf
Practica_1/Informe/2/2_2_3.pdf
Practica_1/Informe/2/2_3_0.pdf
Practica_1/Informe/2/2_3_1.pdf
Practica_1/Informe/2/2_3_2.pdf
Practica_1/Informe/2/2_3_3.pdf
Practica_1/Informe/2/2_4_0.pdf
Practica_1/Informe/2/2_4_1.pdf
Practica_1/Informe/2/2_4_2.pdf
Practica_1/Informe/2/2_4_3.pdf
Practica_1/Informe/2/2_4_4.pdf
Practica_1/Informe/2/2_4_5.pdf
Practica_1/Informe/2/2_4_6.pdf
Practica_1/Informe/2/2_4_7.pdf
Practica_1/Informe/2/2_4_8.pdf
Practica_1/Informe/2/2_4_9.pdf
Practica_1/Informe/2/2_4_10.pdf
Practica_1/Informe/2/2_4_11.pdf
Practica_1/Informe/2/2_4_12.pdf
Practica_1/Informe/2/2_4_13.pdf
Practica_1/Informe/2/2_4_14.pdf
Practica_1/Informe/2/2_4_15.pdf
Practica_1/Informe/2/2_4_16.pdf
Practica_1/Informe/2/2_4_17.pdf
Practica_1/Informe/2/2_4_18.pdf
Practica_1/Informe/2/2_4_19.pdf
Practica_1/Informe/2/2_5_0.pdf
Practica_1/Informe/2/2_5_1.pdf
Practica_1/Informe/2/2_5_2.pdf
Practica_1/Informe/2/2_5_3.pdf
Practica_1/Informe/2/2_5_4.pdf
Practica_1/Informe/2/2_5_5.pdf
Practica_1/Informe/2/2_Distribucion_Clusters.pdf
Practica_1/Informe/2/2_FEO_2_0.pdf
Practica_1/Informe/2/2_FEO_2_1.pdf
Practica_1/Informe/2/2_FEO_2_2.pdf
Practica_1/Informe/2/2_FEO_2_3.pdf
Practica_1/Informe/2/2_FEO_2_4.pdf
Practica_1/Informe/2/2_FEO_2_5.pdf
Practica_1/Informe/2/2_FEO.pdf
Practica_1/Informe/2/2.mp4
Practica_1/Informe/2/3.mp4
Practica_1/Informe/2/4.mp4
Practica_1/Informe/2/5.mp4
Practica_1/Informe/2/4_kk.mp4
Practica_1/Informe/2/Intento_Nose.mp4
Practica_0/Informe/ej_2.pdf
Practica_0/Informe/ej_4.pdf
Practica_0/Informe/ej_4.png
Practica_0/Informe/ej_4.svg
Practica_0/Informe/ej_10.pdf
Practica_0/Informe/ej_11.pdf
Practica_0/Informe/ej_12_Histograma.pdf
Practica_0/Informe/ej_12.pdf
Practica_0/Informe/ej_12.png
Practica_0/Informe/ej_12.svg
Practica_0/Informe/ej_13_1.pdf
Practica_0/Informe/ej_13_41.pdf
Practica_0/Informe/ej_13_81.pdf
Practica_0/Informe/ej_13_121.pdf
Practica_0/Informe/ej_13_161.pdf
Practica_0/Informe/ej_14.pdf
Practica_0/Informe/ej_14.svg
Practica_0/p0_lib/__pycache__/circunferencia.cpython-38.pyc
Practica_0/p0_lib/__pycache__/elipse.cpython-38.pyc
Practica_0/p0_lib/__pycache__/rectangulo.cpython-38.pyc
Practica_0/cardumen_1.mp4
Practica_0/cardumen_2.mp4
Practica_0/cardumen.mp4
Practica_0/__pycache__/circunferencia.cpython-38.pyc
Practica_0/__pycache__/ej_3.cpython-38.pyc
Practica_2/Ayuda_ejercicio_3.pdf
Practica_2/Ayuda_problema_6.pdf
Practica_2/CalculoGradienteBacht.pdf
Practica_2/Practica_2.pdf
Practica_1/Informe/2/2_2_4.pdf
Practica_1/Informe/2/2_2_5.pdf
Practica_1/Informe/2/2_2_6.pdf
Practica_1/Informe/2/2_2_7.pdf
Practica_1/Informe/2/2_2_8.pdf
Practica_1/Informe/2/2_2_9.pdf
Practica_1/Informe/2/2_2_10.pdf
Practica_1/Informe/2/2_2_11.pdf
Practica_1/Informe/2/2_2_12.pdf
Practica_1/Informe/2/2_2_13.pdf
Practica_1/Informe/2/2_2_14.pdf
Practica_1/Informe/2/2_2_15.pdf
Practica_1/Informe/2/2_2_16.pdf
Practica_1/Informe/2/2_2_17.pdf
Practica_1/Informe/2/2_2_18.pdf
Practica_1/Informe/2/2_2_19.pdf
Practica_1/Informe/2/2_2_20.pdf
Practica_1/Informe/2/4_k=1.pdf
Practica_1/Informe/2/4_k=3.pdf
Practica_1/Informe/2/4_k=7.pdf
Practica_1/Informe/2/4_Lindo_k=1.pdf
Practica_1/Informe/2/4_Lindo_k=3.pdf
Practica_1/Informe/2/4_Lindo_k=7.pdf
Practica_1/Informe/2/FEO_FEO_2_2_21.pdf
Practica_1/Informe/5/1/Barrido_lambda_acc_cifar10_e200.pdf
Practica_1/Informe/5/1/Barrido_lambda_acc_mnist_e200.pdf
Practica_1/Informe/5/1/Barrido_lr_acc_cifar10_e200.pdf
Practica_1/Informe/5/1/Barrido_lr_acc_mnist_e200.pdf
Practica_1/Informe/5/1/Barrido_lr_loss_cifar10_e200.pdf
Practica_1/Informe/5/1/Barrido_lr_loss_mnist_e200.pdf
Practica_1/Informe/5/Accuracy_mnist_e200.pdf
Practica_1/Informe/5/AccuracyTest_mnist_e200.pdf
Practica_1/Informe/5/Comparacion_Coste_cifar10_e200.pdf
Practica_1/Informe/5/Comparacion_Coste_cifar10_e300.pdf
Practica_1/Informe/5/Comparacion_Coste_cifar10.pdf
Practica_1/Informe/5/Comparacion_Coste_mnist_e50.pdf
Practica_1/Informe/5/Comparacion_Coste_mnist_e150.pdf
Practica_1/Informe/5/Comparacion_Coste_mnist_e200.pdf
Practica_1/Informe/5/Comparacion_Coste_mnist_e300.pdf
Practica_1/Informe/5/Comparacion_Coste_mnist.pdf
Practica_1/Informe/5/Comparacion_Precision_cifar10_e200.pdf
Practica_1/Informe/5/Comparacion_Precision_cifar10_e300.pdf
Practica_1/Informe/5/Comparacion_Precision_cifar10.pdf
Practica_1/Informe/5/Comparacion_Precision_mnist_e50.pdf
Practica_1/Informe/5/Comparacion_Precision_mnist_e150.pdf
Practica_1/Informe/5/Comparacion_Precision_mnist_e200.pdf
Practica_1/Informe/5/Comparacion_Precision_mnist_e300.pdf
Practica_1/Informe/5/Comparacion_Precision_mnist.pdf
Practica_1/Informe/5/Comparacion_Precision_TEST_cifar10_e200.pdf
Practica_1/Informe/5/Comparacion_Precision_TEST_cifar10_e300.pdf
Practica_1/Informe/5/Comparacion_Precision_TEST_mnist_e200.pdf
Practica_1/Informe/5/Comparacion_Precision_TEST_mnist_e300.pdf
Practica_1/Informe/5/Figure_3.png
Practica_1/Informe/5/Loss_mnist_e100.pdf
Practica_1/Informe/5/Loss_mnist_e200.pdf
Practica_1/Informe/5/Loss_mnist.pdf
Practica_1/Informe/5/Softmax_Barrido_lambda_acc_cifar10_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lambda_acc_cifar10_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lambda_acc_mnist_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lambda_acc_mnist_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_acc_cifar10_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_acc_cifar10_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_acc_mnist_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_acc_mnist_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_accTest_cifar10_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_accTest_cifar10_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_accTest_mnist_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_accTest_mnist_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_loss_cifar10_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_loss_cifar10_e300.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_loss_mnist_e250.pdf
Practica_1/Informe/5/Softmax_Barrido_lr_loss_mnist_e300.pdf
Practica_1/Informe/5/SVM_Accuracy_mnist_e200.pdf
Practica_1/Informe/5/SVM_AccuracyTest_mnist_e200.pdf
Practica_1/Informe/5/SVM_Barrido_lambda_acc_cifar10_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lambda_acc_cifar10_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lambda_acc_mnist_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lambda_acc_mnist_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_acc_cifar10_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_acc_cifar10_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_acc_mnist_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_acc_mnist_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_accTest_cifar10_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_accTest_cifar10_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_accTest_mnist_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_accTest_mnist_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_loss_cifar10_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_loss_cifar10_e300.pdf
Practica_1/Informe/5/SVM_Barrido_lr_loss_mnist_e250.pdf
Practica_1/Informe/5/SVM_Barrido_lr_loss_mnist_e300.pdf
Practica_1/Informe/5/SVM_Loss_mnist_e200.pdf
Practica_1/Entrega/TP1_FMC.zip
Practica_1/Entrega/Cabrera.pdf
Practica_1/Entrega/Cabrera.py
Practica_1/Entrega/kMeans.mp4
Practica_2/Ej3.py
Practica_2/BIRRA/tp2.py
Practica_2/BIRRA/MyNetworkFramework/__init__.py
Practica_2/BIRRA/MyNetworkFramework/activations.py
Practica_2/BIRRA/MyNetworkFramework/layers.py
Practica_2/BIRRA/MyNetworkFramework/losses.py
Practica_2/BIRRA/MyNetworkFramework/metrics.py
Practica_2/BIRRA/MyNetworkFramework/models.py
Practica_2/BIRRA/MyNetworkFramework/optimizers.py
Practica_2/BIRRA/MyNetworkFramework/regularizers.py
Practica_2/BIRRA/MyNetworkFramework/__pycache__/__init__.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/activations.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/layers.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/losses.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/metrics.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/models.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/optimizers.cpython-37.pyc
Practica_2/BIRRA/MyNetworkFramework/__pycache__/regularizers.cpython-37.pyc
Practica_2/TP2.zip
Practica_2/myModules/__pycache__/__init__.cpython-38.pyc
Practica_2/myModules/__pycache__/activations.cpython-38.pyc
Practica_2/myModules/__pycache__/regularizers.cpython-38.pyc
Practica_2/Informe/8/Figure_1.png
Practica_2/Informe/8/Figure_2.png
Practica_2/Informe/8/Figure_3.png
Practica_2/myModules/__pycache__/__init__.cpython-37.pyc
Practica_2/myModules/__pycache__/activations.cpython-37.pyc
Practica_2/myModules/__pycache__/layers.cpython-37.pyc
Practica_2/myModules/__pycache__/layers.cpython-38.pyc
Practica_2/myModules/__pycache__/losses.cpython-37.pyc
Practica_2/myModules/__pycache__/losses.cpython-38.pyc
Practica_2/myModules/__pycache__/metrics.cpython-37.pyc
Practica_2/myModules/__pycache__/metrics.cpython-38.pyc
Practica_2/myModules/__pycache__/models.cpython-37.pyc
Practica_2/myModules/__pycache__/models.cpython-38.pyc
Practica_2/myModules/__pycache__/optimizers.cpython-37.pyc
Practica_2/myModules/__pycache__/regularizers.cpython-37.pyc
Practica_2/myModules/__pycache__/layers.cpython-38.pyc
Practica_2/myModules/__pycache__/losses.cpython-38.pyc
Practica_2/myModules/__pycache__/metrics.cpython-38.pyc
Practica_2/myModules/__pycache__/models.cpython-38.pyc
Practica_4/Figuras
Practica_4/Datos
Practica_4/Figuras/2/2_Loss_XOR_B.pdf
Practica_4/Figuras/2/2_Loss_XOR_A.pdf
Practica_4/Figuras/2/2_Loss_Softmax.pdf
Practica_4/Figuras/2/2_Acc_XOR_B.pdf
Practica_4/Figuras/2/2_Acc_XOR_A.pdf
Practica_4/Figuras/2/2_Acc_Softmax.pdf
Practica_4/Datos/2/2_model_XOR_B.h5
Practica_4/Datos/2/2_model_XOR_A.h5
Practica_4/Datos/2/2_history_XOR_B.npy
Practica_4/Datos/2/2_history_XOR_A.npy
Practica_4/ej3_output.o230357
Practica_4/ej3_output.o230358
Practica_4/ej3_output.o230370
Practica_4/output_6.o230446
Practica_4/output_6.o230439
Practica_4/output_6.o230437
Practica_4/output_5.o230441
Practica_4/output_5.o230436
Practica_4/output_3.o230440
Practica_4/output_3.o230438
Practica_4/o_*.o*
Practica_4/output_*.o*
Practica_4/__pycache__/CLArg.cpython-37.pyc
Practica_1/TP2/datos_Softmax.npz
Practica_1/TP2/datos_SVM.npz
Practica_1/Chota_para_TP2.py
Practica_2/EJ6_sinCopia/myModules/__pycache__/__init__.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/__init__.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/activations.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/activations.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/layers.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/layers.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/losses.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/losses.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/metrics.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/metrics.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/models.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/models.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/optimizers.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/optimizers.cpython-38.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/regularizers.cpython-37.pyc
Practica_2/EJ6_sinCopia/myModules/__pycache__/regularizers.cpython-38.pyc
Practica_2/Entrega/Cabrera.pdf
Practica_2/Entrega/Cabrera.py
Practica_2/Entrega/Ejercicio_1_y_2.pdf
Practica_2/Entrega/TP2_FMC.zip
Practica_2/Entrega/Informe/Comp_EJ4.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc_Linear.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc_Sig.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc_t_Linear.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc_t_Sig.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc_t.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Acc.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Loss_Linear.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Loss_Sig.pdf
Practica_2/Entrega/Informe/Comp_EJ5_Loss.pdf
Practica_2/Entrega/Informe/Comp_EJ6_Acc.pdf
Practica_2/Entrega/Informe/Comp_EJ6_Loss.pdf
Practica_2/Entrega/Informe/Comp_EJ7_Acc.pdf
Practica_2/Entrega/Informe/Comp_EJ7_Loss.pdf
Practica_2/Entrega/Informe/Comp_EJ8_Acc_t.pdf
Practica_2/Entrega/Informe/Comp_EJ8_Acc.pdf
Practica_2/Entrega/Informe/Comp_EJ8_Loss.pdf
Practica_2/Entrega/Informe/345/datos_ej_3.npz
Practica_2/Entrega/Informe/345/datos_ej_4.npz
Practica_2/Entrega/Informe/345/datos_ej_5_Relu_Lin_MSe.npz
Practica_2/Entrega/Informe/345/datos_ej_5_Relu_Lin_Soft.npz
Practica_2/Entrega/Informe/345/datos_ej_5_Relu_Sig_MSe.npz
Practica_2/Entrega/Informe/345/datos_ej_5_Relu_Sig_Soft.npz
Practica_2/Entrega/Informe/345/datos_ej_5.npz
Practica_2/Entrega/Informe/345/datos_Softmax.npz
Practica_2/Entrega/Informe/345/datos_SVM.npz
Practica_2/Entrega/Informe/678/datos_ej_6_1.npz
Practica_2/Entrega/Informe/678/datos_ej_6_2.npz
Practica_2/Entrega/Informe/678/datos_ej_7_N1=10_N2=2.npz
Practica_2/Entrega/Informe/678/datos_ej_7_N1=10_N2=5.npz
Practica_2/Entrega/Informe/678/datos_ej_7_N1=10_N2=10.npz
Practica_2/Entrega/Informe/678/datos_ej_7_N1=10_N2=20.npz
Practica_2/Entrega/Informe/678/datos_ej_7_N1=10_N2=80.npz
Practica_2/Entrega/Informe/678/datos_ej_8_Relu.npz
Practica_2/Entrega/Informe/678/datos_ej_8_Sigmoid.npz
Practica_2/Entrega/Informe/678/datos_Softmax.npz
Practica_2/Entrega/Informe/678/datos_SVM.npz
Practica_2/Entrega/myModules/__init__.py
Practica_2/Entrega/myModules/activations.py
Practica_2/Entrega/myModules/layers.py
Practica_2/Entrega/myModules/losses.py
Practica_2/Entrega/myModules/metrics.py
Practica_2/Entrega/myModules/models.py
Practica_2/Entrega/myModules/optimizers.py
Practica_2/Entrega/myModules/regularizers.py
Practica_2/Entrega/myModules/__pycache__/__init__.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/__init__.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/activations.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/activations.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/layers.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/layers.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/losses.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/losses.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/metrics.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/metrics.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/models.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/models.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/optimizers.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/optimizers.cpython-38.pyc
Practica_2/Entrega/myModules/__pycache__/regularizers.cpython-37.pyc
Practica_2/Entrega/myModules/__pycache__/regularizers.cpython-38.pyc
Practica_2/Informe/Comp_EJ3.pdf
Practica_2/Informe/Comp_EJ4.pdf
Practica_2/Informe/Comp_EJ5_Acc_Linear.pdf
Practica_2/Informe/Comp_EJ5_Acc_Sig.pdf
Practica_2/Informe/Comp_EJ5_Acc_t_Linear.pdf
Practica_2/Informe/Comp_EJ5_Acc_t_Sig.pdf
Practica_2/Informe/Comp_EJ5_Acc_t.pdf
Practica_2/Informe/Comp_EJ5_Acc.pdf
Practica_2/Informe/Comp_EJ5_Loss_Linear.pdf
Practica_2/Informe/Comp_EJ5_Loss_Sig.pdf
Practica_2/Informe/Comp_EJ5_Loss.pdf
Practica_2/Informe/Comp_EJ6_Acc.pdf
Practica_2/Informe/Comp_EJ6_Loss.pdf
Practica_2/Informe/Comp_EJ7_Acc.pdf
Practica_2/Informe/Comp_EJ7_Loss.pdf
Practica_2/Informe/Comp_EJ8_Acc_t.pdf
Practica_2/Informe/Comp_EJ8_Acc.pdf
Practica_2/Informe/Comp_EJ8_Loss.pdf
Practica_2/Informe/345/Acc_ej_3.pdf
Practica_2/Informe/345/Acc_ej_4.pdf
Practica_2/Informe/345/Acc_ej_5_Relu_Lin_MSe.pdf
Practica_2/Informe/345/Acc_ej_5_Relu_Lin_Soft.pdf
Practica_2/Informe/345/Acc_ej_5_Relu_Sig_MSe.pdf
Practica_2/Informe/345/Acc_ej_5_Relu_Sig_Soft.pdf
Practica_2/Informe/345/Acc_ej_5.pdf
Practica_2/Informe/345/Acc_t_ej_3.pdf
Practica_2/Informe/345/Acc_t_ej_4.pdf
Practica_2/Informe/345/Acc_t_ej_5_Relu_Lin_MSe.pdf
Practica_2/Informe/345/Acc_t_ej_5_Relu_Lin_Soft.pdf
Practica_2/Informe/345/Acc_t_ej_5_Relu_Sig_MSe.pdf
Practica_2/Informe/345/Acc_t_ej_5_Relu_Sig_Soft.pdf
Practica_2/Informe/345/Acc_t_ej_5.pdf
Practica_2/Informe/345/datos_ej_3.npz
Practica_2/Informe/345/datos_ej_4.npz
Practica_2/Informe/345/datos_ej_5_Relu_Lin_MSe.npz
Practica_2/Informe/345/datos_ej_5_Relu_Lin_Soft.npz
Practica_2/Informe/345/datos_ej_5_Relu_Sig_MSe.npz
Practica_2/Informe/345/datos_ej_5_Relu_Sig_Soft.npz
Practica_2/Informe/345/datos_ej_5.npz
Practica_2/Informe/345/datos_Softmax.npz
Practica_2/Informe/345/datos_SVM.npz
Practica_2/Informe/345/Loss_ej_3.pdf
Practica_2/Informe/345/Loss_ej_4.pdf
Practica_2/Informe/345/Loss_ej_5_Relu_Lin_MSe.pdf
Practica_2/Informe/345/Loss_ej_5_Relu_Lin_Soft.pdf
Practica_2/Informe/345/Loss_ej_5_Relu_Sig_MSe.pdf
Practica_2/Informe/345/Loss_ej_5_Relu_Sig_Soft.pdf
Practica_2/Informe/345/Loss_ej_5.pdf
Practica_2/Informe/678/Acc_ej_6_1.pdf
Practica_2/Informe/678/Acc_ej_6_2.pdf
Practica_2/Informe/678/Acc_ej_7_N1=10_N2=2.pdf
Practica_2/Informe/678/Acc_ej_7_N1=10_N2=5.pdf
Practica_2/Informe/678/Acc_ej_7_N1=10_N2=10.pdf
Practica_2/Informe/678/Acc_ej_7_N1=10_N2=20.pdf
Practica_2/Informe/678/Acc_ej_7_N1=10_N2=80.pdf
Practica_2/Informe/678/Acc_ej_8_Relu.pdf
Practica_2/Informe/678/Acc_ej_8_Sigmoid.pdf
Practica_2/Informe/678/Acc_t_ej_8_Relu.pdf
Practica_2/Informe/678/Acc_t_ej_8_Sigmoid.pdf
Practica_2/Informe/678/datos_ej_6_1.npz
Practica_2/Informe/678/datos_ej_6_2.npz
Practica_2/Informe/678/datos_ej_7_N1=10_N2=2.npz
Practica_2/Informe/678/datos_ej_7_N1=10_N2=5.npz
Practica_2/Informe/678/datos_ej_7_N1=10_N2=10.npz
Practica_2/Informe/678/datos_ej_7_N1=10_N2=20.npz
Practica_2/Informe/678/datos_ej_7_N1=10_N2=80.npz
Practica_2/Informe/678/datos_ej_8_Relu.npz
Practica_2/Informe/678/datos_ej_8_Sigmoid.npz
Practica_2/Informe/678/datos_Softmax.npz
Practica_2/Informe/678/datos_SVM.npz
Practica_2/Informe/678/Loss_ej_6_1.pdf
Practica_2/Informe/678/Loss_ej_6_2.pdf
Practica_2/Informe/678/Loss_ej_7_N1=10_N2=2.pdf
Practica_2/Informe/678/Loss_ej_7_N1=10_N2=5.pdf
Practica_2/Informe/678/Loss_ej_7_N1=10_N2=10.pdf
Practica_2/Informe/678/Loss_ej_7_N1=10_N2=20.pdf
Practica_2/Informe/678/Loss_ej_7_N1=10_N2=80.pdf
Practica_2/Informe/678/Loss_ej_8_Relu.pdf
Practica_2/Informe/678/Loss_ej_8_Sigmoid.pdf
Practica_2/Informe/678/7_125000Pasos/datos_ej_7_N1=10_N2=5.npz
Practica_2/Informe/678/7_125000Pasos/datos_ej_7_N1=10_N2=10.npz
Practica_2/Informe/678/7_125000Pasos/datos_ej_7_N1=10_N2=20.npz
Practica_2/EJ6_sinCopia/ej_06 copy.py
Practica_2/EJ6_sinCopia/ej_06_2.py
Practica_2/EJ6_sinCopia/myModules/__init__.py
Practica_2/EJ6_sinCopia/myModules/activations.py
Practica_2/EJ6_sinCopia/myModules/layers.py
Practica_2/EJ6_sinCopia/myModules/losses.py
Practica_2/EJ6_sinCopia/myModules/metrics.py
Practica_2/EJ6_sinCopia/myModules/models.py
Practica_2/EJ6_sinCopia/myModules/optimizers.py
Practica_2/EJ6_sinCopia/myModules/regularizers.py
Practica_4/model.png
